Port 2222
ListenAddress 0.0.0.0
HostKey /keys/ssh_host_ed25519
AuthorizedKeysFile /keys/authorized_keys
PidFile /run/git-sshd.pid
AllowUsers git
AuthenticationMethods publickey
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
UsePAM no
StrictModes yes
DisableForwarding yes
PermitTTY no
PermitTunnel no
PermitUserRC no
X11Forwarding no
ForceCommand /usr/local/bin/git-command
LogLevel VERBOSE
